absl-py==1.1.0
appdirs==1.4.4
astunparse==1.6.3
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
clyent==1.2.1
comtypes==1.1.10
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
datashape==0.5.2
et-xmlfile==1.1.0
flatbuffers==1.12
fonttools==4.25.0
gast==0.4.0
google-pasta==0.2.0
gunicorn==20.1.0
inflection==0.5.1
keras==2.9.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
statsmodels==0.13.2
tensorflow-cpu==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
voxelmorph==0.2
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
xgboost==0.90
zict==2.0.0
