<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFU Detection - Thermal Imaging</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>


<body>
    <div class="text-center p-5">
        <h3>Diabetic Foot Ulceration (DFU) Detection from Thermal Imaging</h3>
        <h6>Using image registration to extract features from region of interests and classification made using a trained ML model</h6>
    
        <div class="p-4 m-auto">
            <form class="form-inline" method="POST" action="/" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="input-group">
                        <label class="input-group-addon p-2" for="comp_select" >Please select</label>
                        <select name="comp_select" class="selectpicker form-control">
                            {% for o in data %}
                            {% if selected == o.name%}
                            <option value="{{ o.name }}" selected>{{ o.name }}</option>
                            {% else %}
                            <option value="{{ o.name }}">{{ o.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button id="select-image" type="submit" class="btn btn-primary w-100 mt-3" >Select</button>
                </div>
               
            </form>

            {% if selected %}
        
            <h6 class="mt-4 p-3 text-center">{{selected}}</h6>
            <img src="{{url_for('static', filename=selected)}}" />
            <div class="mt-3">
                <h6 class="mt-4 p-3 text-center" id="annot" style="display:none;">Predicted ROIs</h6>
                <img id="annotation" src="{{url_for('annotate', selected=selected)}}" />
            </div>
            <div>
                <button type="button" id="{{ selected }}" class="btn btn-info w-100 center"
                    onclick="$('#loading').show(); $('#annot').show();">Predict</button>
            </div>
          
            <div id="loading" style="display:none;" class="mt-3">
                <button class="btn btn-default" type="button" disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button></div>
                
            <div id='response' class="mt-4 p-4"></div>
            {% endif %}
            
            
       
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
<script>
    $(document).ready(function () {
        $("button").click(function (event) {
            var the_id = event.target.id;
            $.ajax({
                url: "/predict-plot",
                type: "get",
                data: { selected: the_id },
                success: function (response) {
                    $("#response").html(response);

                    $("#loading").hide();
                    $("#"+the_id).disable();
                },
                error: function (xhr) {
                    //Do Something to handle error

                }
            });
        });

    });
</script>
</html>